/* Import Fonts from Google: Montserrat and Roboto */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

/* Reset */
:root {
    --clr-pink: #b86ad9;
    --clr-primary: #383e6e;
    --clr-dark: #1e2140;
    --clr-blue: #3d9df2;
    --clr-tan: #f2e0bd;
    --clr-red: #f00909;
    --clr-green: #09e73e;
    --clr-white: #ffffff;
    --box-shadow: rgba(30, 33, 64, 1) 0 0.5rem 1.5rem;
    --box-shadow-hover: rgba(184, 106, 217, 1) 0 0.5rem 1rem;
    /* By setting the font size here to 62.5 we reset the rem. Now 1rem = 10px */
    font-size: 62.5%;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    font-family: "Montserrat", sans-serif;
    /* Credits for this normalize 
    * https://gist.github.com/marharyta/b83a3683085eb42867bbcefb34687af8 */
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

/* IE10+ doesn't honor `<meta name="viewport">` in some cases. */
@-ms-viewport {
    width: device-width;
}

/* End Credits */

/* Main CSS */
body {
    min-height: 100vh;
    font-size: 1.6rem;
    color: var(--clr-white);
    /* The background gradient was generated here 
    * https://mycolor.space/gradient?ori=to+right+top&hex=%23B86AD9&hex2=%231E2140&sub=1 */
    background-color: var(--clr-dark);
    background-image: linear-gradient(to right top, #b86ad9, #885ab5, #5d488e, #3a3567, #1e2140);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: var(--clr-tan);
    margin: 1rem;
}

ul {
    list-style-type: disc;
    margin: 1rem;
    padding: 1rem;
}

ul li {
    padding: 5px;
}

p {
    font-family: "Montserrat", sans-serif;
    line-height: 2rem;
    font-weight: 400;
    word-spacing: 0.5rem;
    padding: 1rem 0;
}

a {
    text-decoration: none;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 1rem 2rem;
    margin: 1rem 0;
    display: inline-block;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 2rem;
}

/* Standard classes */
.wrapper {
    z-index: 99;
    margin: 2rem;
    padding: 1.5rem;
    background-color: var(--clr-primary);
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
}

.wrapper:hover {
    box-shadow: var(--box-shadow-hover);
}

.button {
    padding: 1rem;
    margin-top: 1rem;
    border: 0;
    border-radius: 2rem;
    background-color: var(--clr-pink);
    color: var(--clr-tan);
    cursor: pointer;
    transition: all 1s ease;
    font-weight: 700;
}

.button-block {
    width: 100%;
    display: block;
}

.button:hover,
.button:active,
.button::after,
.button::before {
    background-color: var(--clr-blue);
    color: var(--color-light);
}

.d-block {
    width: 100%;
    display: block;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.show {
    display: block;
    opacity: 1;
    visibility: visible;
}

.text-red {
    color: var(--clr-red);
}

.text-green {
    color: var(--clr-green);
}

/* Header */
header {
    position: relative;
}

/* Logo */
#logo-img {
    width: 5rem;
    height: auto;
    margin: 3rem auto;
    display: block;
}

#logo-text {
    font-family: "Roboto";
    font-weight: 700;
    margin-top: 3rem;
    text-align: center;
    display: block;
    font-size: 2.6rem;
}

/* Main */
main {
    box-sizing: border-box;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

/* How to play */
#how-to-play {
    height: auto;
}

/* Start game wrapper*/
#start-game {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

/* Start content wrapper*/
#game-content-wrapper {
    display: none;
}


/* Footer */
footer {
    position: sticky;
    bottom: 0;
    z-index: 2;
    /* Adjust the z-index value as needed */
    display: block;
    width: 100%;
    height: auto;
    padding: 1rem;
    margin-top: 5rem;
}



#footer-text {
    font-weight: 100;
    text-align: center;
}


/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    main {
        width: 50rem;
        margin: 0 auto;
    }
}